*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    color: white;
    background-color: #045d5d;
    display: flex;
    justify-content: space-between;
    
}
header .first{
    display: flex;
    padding-top: 13px;
    padding-bottom: 5px;
}
header .first img{
    width: 31px;
    height: 40px;
}
header .first .text{
    margin-left: 13px;
    font-size: 16px;
}
header .second{
    display: flex;
    padding-top: 13px;
    /* flex-direction: column; */
   
}
header .second .button{
    /* width: 12px;
    height: 12px; */
    display: flex;
    margin-left: 23px;
    
}
header .second .button button{
    width: 31px;
    height: 31px;
    background-color: #045d5d;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    margin-left: 18px;
   
}
header .second .text{
    margin-left: 34px;
    margin-right: 31px;
    padding-top: 7px;
}

nav{
    background-color: #017e7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}
nav .first img{
    width: 150px;
}
nav .second a{
    text-decoration: none;
    color: white;
    margin-left: 41px;
    font-size: 17px;
    /* margin-right: 23px; */
}
nav .second a:hover{
    color: rgb(255, 225, 0);

}
nav .second{
    margin-right: 66px;
}
nav .second button{
    border: 2px solid white;
    background-color: #017e7e;
    color: white;
    border-radius: 30px;
    width: 165px;
    height: 36px;
    margin-left: 35px;
    font-weight: bold;
}
nav .second button:hover{
    color: #017e7e;
    background-color: white;
    border: 2px solid #017e7e
}

.home{
    background-image: url('./assets/images/bacground.png');
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
    display: flex;
    padding-left: 100px;
    padding-top: 45px;
    justify-content: space-between;
    /* height: aut; */
}
.home .first h1{
    font-size: 34px;
}

.home .first button{
    font-size: 34px;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 55px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fd5428;
    background-color: transparent;
    border-radius: 12px;
    width: 532px;
    height: 79px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 3px solid #fd5428;
}
.home .first img{
    margin-right: 10px;
}
.home .first h2{
    margin-top: 70px;

}
.home .first h3{
    margin-top: 20px;
}
.home .second img{
    /* width: 400px; */
    height: 441px;
    /* padding-left: 98px; */
}

.home .third button{
    background-color: #017e7e;
    color: white;
    border: 1px solid #017e7e;
    width: 123px;
    height: 66px;
    /* right: 25%; */
    right: 25%;
    border-radius: 100px 0 0 100px;
    margin-left: 23px;
    margin-top: 23px;
  /* position: fixed; */
}
.vaccine{

}.vaccine h1{
    color: #017e7e;
    text-align: center;
    font-size: 32px;
}
.vaccine .card{
    display: flex;  
}
.vaccine .card button{
    width: 84px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #017e7e;
    color: #017e7e;
    /* margin-top: 2px; */
    /* padding-top: 2px; */
    background-color: white;
   
}
.vaccine .card .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     border: 1px solid red;
}
.vaccine .card .first .f_text{
    color: white;
    height: 115px;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #017e7e;
    padding-left: 23px;
    padding-right: 23px;
}
.vaccine .card .first .p{
    text-align: center;
    color: #023939;
    margin-top: 10px;
}